BODY {
	MARGIN: 5px; 
	COLOR: #333333; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

LI { 
	line-height: 130%;
	text-align: justify
}

FORM {
	magin-top: 0px; magin-bottom: 0px
}
A:link {
	COLOR: #0265c7; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0265c7; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0265c7; TEXT-DECORATION: underline
}
.menuayuda {
	BACKGROUND-COLOR: #e1dbc1
}
.menuayudaon {
	BACKGROUND-COLOR: #d4cba2
}
.menuinfo {
	BACKGROUND-COLOR: #b6145a
}
.menuinfoon {
	BACKGROUND-COLOR: #940a46
}
.menuutilidades {
	BACKGROUND-COLOR: #f6eebd
}
.menuutilidadeson {
	BACKGROUND-COLOR: #f5d66d
}
.mapaweb LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
.mapaweb UL {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
.mapaweb P {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
.mapaweb {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: normal; PADDING-BOTTOM: 10px; COLOR: #940a46; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2efe3
}
.submenuoff A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuoff A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuoff A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #f2efe3; TEXT-DECORATION: none
}
.submenuon A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuon A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuon A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #f2efe3; TEXT-DECORATION: none
}
.submenuactivado A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuactivado A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuactivado A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #f2efe3; TEXT-DECORATION: none
}
.submenuseccion A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuseccion A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenuseccion A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.submenusegundooff A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenusegundooff A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenusegundooff A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #e9e7e4; TEXT-DECORATION: none
}
.submenusegundoon A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenusegundoon A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.submenusegundoon A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #e9e7e4; TEXT-DECORATION: none
}
.submenuseccion {
	FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 4px; COLOR: #666666; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.submenuoff {
	PADDING-LEFT: 11px; FONT-SIZE: normal; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.submenuon {
	PADDING-LEFT: 11px; FONT-SIZE: normal; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f0ede0
}
.submenuactivado:first-line {
	PADDING-LEFT: 0px
}
.submenuactivado {
	PADDING-LEFT: 11px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 2px; COLOR: #666666; TEXT-INDENT: -11px; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2efe3
}
.submenusegundooff {
	PADDING-LEFT: 22px; FONT-SIZE: normal; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.submenusegundoon {
	PADDING-LEFT: 22px; FONT-SIZE: normal; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e9e7e4
}
.bandadestacado {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ff9000
}
.bandadestacadobuscador {
	FONT-SIZE: normal; COLOR: #b6145a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b6145a
}
.auxiliardestacado {
	FONT-WEIGHT: normal; FONT-SIZE: normal; VERTICAL-ALIGN: top; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffd9a6
}
.submenuauxliar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: normal; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.calendariofindesem {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: normal; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffbc62; TEXT-ALIGN: center
}
.calendariodiario {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: normal; BORDER-LEFT: #cccccc 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffefb1; TEXT-ALIGN: center
}
.calendarionombredias {
	FONT-SIZE: normal; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.calendarionombremes {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: normal; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.calendariovacio {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.calendariodesactivado {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: normal; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.tituloseccion {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN-LEFT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.entradilla {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #b6145a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.titulo {
	FONT-WEIGHT: bold; COLOR: #b6145a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textopeque {
	FONT-SIZE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.textonaranja {
	COLOR: #ff9900
}
.pie {
	FONT-SIZE: normal; COLOR: #b6145a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.lineainferior {
	BORDER-BOTTOM: #cccccc 1px solid
}
.encabezadotabla {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.subencabezadotabla {
	FONT-WEIGHT: bold; COLOR: #333333
}
.navegacion {
	PADDING-LEFT: 8px; FONT-SIZE: normal; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bandatitulo {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999999
}
.bandadestacadograna {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b6145a
}
.bandadestacadoverde {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #669900
}
.bandadestacadoamarillo {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ecb319
}
.bandadestacadoazul {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: normal; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #0d8cb1
}
.imgizquierda {
	MARGIN: 3px 5px 3px 0px
}
.imgiderecha {
	MARGIN: 3px 0px 3px 5px
}
HR {
	BORDER-RIGHT: #666666 1px dashed; BORDER-TOP: #666666 1px dashed; BORDER-LEFT: #666666 1px dashed; BORDER-BOTTOM: #666666 1px dashed; HEIGHT: 1px
}
SELECT {
	FONT-SIZE: normal; COLOR: #333333
}
LI {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 1px
}
DL {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
INPUT {
	FONT-SIZE: 7pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fecha {
	FONT-SIZE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hoyprensa {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.cargo {
	FONT-WEIGHT: bold; COLOR: #b6145a
}
.plazo {
	FONT-WEIGHT: bold; COLOR: #b6145a
}
P {
	FONT-SIZE: normal; FONT-FAMILY: Verdana
}
UL {
	LIST-STYLE-IMAGE: url('/imagenes/imgcomunes/flecha_auxiliar.gif'); FONT-FAMILY: Verdana
}
UL.indentado1 {
	LIST-STYLE-IMAGE: url('/imagenes/imgcomunes/cuadro-lista-hueco.gif'); FONT-FAMILY: Verdana
}
UL.eu {
	LIST-STYLE-IMAGE: url('/imagenes/imgcomunes/estrella.gif'); FONT-FAMILY: Verdana
}
LI {
	FONT-FAMILY: Verdana
}
.tituloseccion2 {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tituloseccion {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 17pt; COLOR: #004f8f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subtituloseccion2 {
	FONT-SIZE: 9pt; MARGIN-LEFT: 5px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #b6145a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #777777; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #777777; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.encabezado:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.encabezado:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.encabezado:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TR {
	FONT-SIZE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tabladestacado {
	BACKGROUND-COLOR: #f0ede0
}
.celdamarron {
	BACKGROUND-COLOR: #cfc595
}
.celdabeige {
	BACKGROUND-COLOR: #dfd7b3
}
.tablacomun {
	BACKGROUND-COLOR: #cccccc
}
.celdacomun {
	BACKGROUND-COLOR: #ffffff
}
.encabezadocomun {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.subencabezadocomun {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.colorencabezadoayuda {
	BACKGROUND-COLOR: #cbc193
}
.subcolorencabezadoayuda {
	BACKGROUND-COLOR: #e1dbc1
}
.titularcanal {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 4px; COLOR: #777777; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}